<settings>

    <setting propertyKey="@Properties.LightTheme" title="@Strings.LightThemeTitle">
        <settingConfig type="boolean">
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HighBatteryThreshold" title="@Strings.HighBatteryThresholdTitle">
        <settingConfig type="numeric" min="50" max="90">
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MediumBatteryThreshold" title="@Strings.MediumBatteryThresholdTitle">
        <settingConfig type="numeric" min="20" max="50">
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.LowBatteryThreshold" title="@Strings.LowBatteryThresholdTitle">
        <settingConfig type="numeric" min="5" max="20">
        </settingConfig>
    </setting>

</settings>
