<settings>
    <setting propertyKey="@Properties.LightTheme" title="@Strings.LightThemeTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.HighBatteryThreshold" title="@Strings.HighBatteryThresholdTitle">
        <settingConfig type="numeric" min="50" max="90">
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MediumBatteryThreshold" title="@Strings.MediumBatteryThresholdTitle">
        <settingConfig type="numeric" min="20" max="50">
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.LowBatteryThreshold" title="@Strings.LowBatteryThresholdTitle">
        <settingConfig type="numeric" min="5" max="20">
        </settingConfig>
    </setting>

     <setting propertyKey="@Properties.MetricsDisplay" title="@Strings.MetricsDisplayTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricsSteps</listEntry>
            <listEntry value="1">@Strings.MetricsDistance</listEntry>
            <listEntry value="2">@Strings.MetricsCalories</listEntry>
            <listEntry value="3">@Strings.MetricsAll</listEntry>
            <listEntry value="4">@Strings.MetricsNone</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DisplayHeartRate" title="@Strings.DisplayHeartRateTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.BackgroundColour" title="@Strings.BackgroundColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TimeColour" title="@Strings.TimeColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DateColour" title="@Strings.DateColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MetricsColour" title="@Strings.MetricsColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HeartRateColour" title="@Strings.HeartRateColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HeartColour" title="@Strings.HeartColourTitle">
        <settingConfig type="list">
            <listEntry value="0x00C0DE">@Strings.ColourTheme</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
            <listEntry value="0xAA0000">@Strings.ColourRed</listEntry>
            <listEntry value="0x00AA00">@Strings.ColourGreen</listEntry>
            <listEntry value="0x0000AA">@Strings.ColourBlue</listEntry>
            <listEntry value="0x55FFFF">@Strings.ColourCyan</listEntry>
            <listEntry value="0xFFFF55">@Strings.ColourYellow</listEntry>
            <listEntry value="0xFF55FF">@Strings.ColourMagenta</listEntry>
            <listEntry value="0x000000">@Strings.ColourBlack</listEntry>
        </settingConfig>
    </setting>


</settings>
